@use 'sass:color';

$app-header-height: 50px; // 헤더 높이
$app-sidebar-width: 250px; // 사이드바 넓이

// ENV 설정 상태
.envTxt {
  z-index: 999;
  padding: 0 10px;
  position: fixed;
  bottom: 10px;
  right: 0px;
  font-weight: 700;
  font-size: 1.1em;
  color: #fff !important ;
  background: red;
  border-radius: 10px 0px 0px 10px;
}
// 헤더
.layout-header {
  height: $app-header-height;
  & .q-toolbar {
    min-height: 50px;
    padding-left: 0px;
    & .q-toolbar__title {
      flex: none;
      width: 213px !important;
      text-align: center;
      cursor: pointer;
    }
  }
  & .header-shotcut {
    float: right;
    margin-right: 3px;
  }
  & .header-right-menu {
    position: absolute;
    right: 10px;
    @media (max-width: 640px) {
      display: none;
    }
  }
  & .top-shortcut-round {
    & .q-badge {
      font-size: 8px !important;
      min-width: 8px !important;
      min-height: 8px !important;
      width: 8px !important;
      height: 8px !important;
      padding: 0px;
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}

// Header 탭메뉴 [S]
.topTabs {
  max-width: calc(100vw - 700px);
  min-width: calc(100vw - 700px);
  border-radius: 10px 10px 0px 0px;
  padding: 3px 5px 0px 5px;
  margin-bottom: -15px;
  margin-left: 0px;
  & .q-tabs--dense .q-tab {
    height: 30px !important;
    min-height: 30px !important;
    background: color.adjust($top-header-tabmenu-bg-color, $lightness: 6%, $space: hsl);
    margin-right: 2px;
  }
  & .q-tab__content {
    padding: 0px !important;
  }
  & .q-tab__label {
    font-size: 0.75rem;
    font-weight: 600;
  }
  & .q-tab--active {
    color: $top-header-tabmenu-color;
    background: $top-header-tabmenu-active-bg-color !important;
    box-shadow: 0;
    border-radius: 10px 10px 0 0;
    & .q-tab__indicator {
      color: $top-header-tabmenu-active-bg-color;
    }
  }
  & .q-tab--inactive {
    border-radius: 10px 10px 0 0;
    & .deltab {
      color: $top-header-tabmenu-active-color !important;
    }
    & .deltab2 {
      display: none;
    }
    & .deltab3 {
      display: none;
    }
  }
  & .deltab {
    margin-left: 5px;
    margin-right: -7px;
  }
  & .deltab2 {
    margin-left: 8px;
    margin-right: 0px;
  }
  & .deltab3 {
    margin-left: 4px;
    margin-right: -4px;
  }
  & .deltab:hover {
    font-weight: 600;
  }
  & .q-tabs__arrow {
    font-size: 1.4rem !important;
  }
  & .topTab-drag {
    display: inline-flex;
  }
  & .topTab-drag-ghost.q-tab--inactive {
    background: color.adjust($top-header-tabmenu-bg-color, $lightness: 30%, $space: hsl);
    color: $top-header-tabmenu-inactive-color !important;
  }

  .q-tab.favoritePageTab::before {
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    content: 'star';
    position: absolute;
    top: 6px;
    left: 8px;
  }
  .q-tab.favoritePageTabNone::before {
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    content: 'check_small';
    position: absolute;
    top: 6px;
    left: 8px;
  }

  .q-tab.favoritePageTab {
    padding-left: 24px;
  }

  .q-tab.favoritePageTabNone {
    padding-left: 24px;
  }
  .q-tab.q-tab--inactive.favoritePageTab::before {
    color: #fff;
  }

  .q-tab.q-tab--active.favoritePageTab::before {
    color: $default-orange;
  }
  .q-tab.q-tab--inactive.favoritePageTabNone::before {
    color: #fff;
  }

  .q-tab.q-tab--active.favoritePageTabNone::before {
    color: $default-orange;
  }
  @media (max-width: 1024px) {
    display: none;
  }
}
// 헤더 탭 메뉴 Context Menu
.topTabContext {
  min-width: 100px;
  & .q-item__section {
    font-size: 0.75rem;
    display: inline;
    & .q-icon {
      margin-top: -2px;
    }
  }
  & .q-item {
    min-height: 32px !important;
    padding: 7px 16px 2px 10px !important;
  }
}
// Header 탭메뉴 [E]

// 메뉴명 검색 [S]
.header-menusearch-layer {
  min-width: 600px;
  max-width: 600px;
  & .menu-search-title {
    height: 40px;
    font-weight: 600;
    padding: 10px 20px;
    color: #fff;
    background-color: $default-orange;
  }
  & .menu-search-content {
    & .q-field__control {
      height: 40px;
    }
  }
  & .menu-search-result {
    height: 500px;
    width: 560px;
    margin-top: 10px;
  }
}
// 메뉴명 검색 [E]

// 사용자 정보 [S]
.header-userinfo-layer {
  min-width: 300px;
  max-width: 300px;
  & .menu-userinfo-user {
    height: 40px;
    font-weight: 500;
    padding: 10px 20px 0 20px;
    line-height: 30px;
    background-color: $default-orange;
    color: #fff;
  }
  & .menu-userinfo-dept {
    height: 40px;
    font-weight: 500;
    padding: 0px 20px 10px 20px;
    line-height: 30px;
    color: #fff;
    background-color: $default-orange;
  }
}
// 사용자 정보 [E]

// 사업장선택 [S]
.header-plant-list {
  & .q-item {
    min-height: 36px;
    padding: 6px 30px 6x 6px;
    & .q-item__section--avatar {
      min-width: 16px;
    }
  }
}
// 사용자 정보 [E]

// 다국어 선택 [S]
.header-change-lang {
  & .q-item {
    min-height: 36px;
    padding: 6px 30px 6x 6px;
    & .q-item__section--avatar {
      min-width: 16px;
      margin-top: -5px;
    }
  }
}
// 다국어 선택 [E]

// 즐겨찾기 [S]
.right-favorive-list[disabled] {
  cursor: initial !important;
}
.right-favorive-list {
  list-style: none;
  margin-top: 50px;
  padding-left: 0px;
  & .q-item__section--avatar {
    min-width: 15px;
  }
  & .q-item__section--side {
    padding-right: 5px;
  }
  .linehandle2 {
    cursor: initial !important;
  }
  .linehandley2 {
    float: left;
    margin-left: -10px;
    padding-top: 4px;
    padding-right: 10px;
    cursor: move !important;
  }
  .lineclose2 {
    float: right;
    padding-top: 4px;
    font-size: 12px;
    margin-right: -10px;
    cursor: pointer !important;
  }
  .flip-list-move {
    transition: transform 0.5s;
  }
  .no-move {
    transition: transform 0s;
  }
  .ghost {
    opacity: 0.3;
    background: #c8ebfb;
  }
  .list-group2 {
    min-height: 20px;
    list-style: none;
  }
  .linespan1 {
    min-width: 50px !important;
    text-align: left;
    font-weight: 600;
  }
  .linespan2 {
    min-width: 120px !important;
    text-align: left;
  }
  .linetext2 {
    display: inline-block;
    cursor: pointer !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 160px;
  }
  .list-group-item2 {
    padding: 0.4rem 1.25rem !important;
    margin-bottom: -1px;
    background-color: #fff;
    border-width: 0px;
    font-size: 0.8rem;
    color: #000;
  }
}
// 즐겨찾기 [E]

// CONTENTS [S]
.page-contents {
  height: calc(100vh - 50px);
  background: $default-page-background;
  padding: 10px;
}
// CONTENTS [E]

// SiteMap [S]
.top-menu-layer {
  top: 50px !important;
}
.site-map-layer {
  border: 10px solid #e6e5e5;
  top: 50px !important;
  height: calc(100vh - 50px) !important;
  visibility: visible !important;
  min-width: 100vw !important;
  z-index: 9999;
  .sitemap-btn {
    margin: 5px 5px;
  }
}
.horizon-full-menu-area2 {
  margin: 0 auto;
  z-index: 999;
  background: #fff;
  min-height: 600px;
  .top-sitemap-body {
    padding: 0px 10px;
  }
  .top-menu-item-group2-head2 {
    display: block !important;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: #e6e5e5;
  }
  & .top-menu-item-group2 {
    & .q-btn {
      min-width: 80px;
    }
  }
  & .horizon-full-menu-items {
    justify-content: center;
  }
  & button {
    padding: 5px 10px 0px 10px !important;
  }
  & .under-menu-list2 {
    column-count: 5;
    padding: 10px !important;
    border-radius: 10px !important;
  }
  & .under-menu-item2 {
    flex-wrap: inherit !important;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
  }
  & .sceond-menu2 {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    height: 36px;
    line-height: 34px;
    background: #4caf50;
    border-radius: 16px;
    color: #fff;
  }
  & .sceond-menu2-nochild {
    border: 1px solid #4caf50 !important;
    background: #fff !important;
    color: #4caf50 !important;
  }
  & .third-menu {
    width: 100%;
    padding: 6px 10px 10px 20px;
    & .third-menu-item2 {
      padding-bottom: 6px;
    }
  }
  & .third-menu-button:hover {
    color: #0072c6 !important;
    text-decoration: underline !important;
  }
  & .last-menu-area {
    padding: 0 10px 0 0 !important;
    min-height: 30px !important;
  }
  & .dropdown-menu-full2 {
    width: calc(99vw - 230px) !important;
    min-height: 200px !important;
    height: auto !important;
    z-index: 22 !important;
    background: #f1f6f9;
    top: 8px !important;
    right: 30px;
  }
  & .dropdown-menu-full2-mini {
    width: calc(99vw - 50px) !important;
    min-height: 200px !important;
    height: auto !important;
    z-index: 22 !important;
    background: #f1f6f9;
    top: 8px !important;
    right: 30px;
  }
  & .third-menu-pop {
    position: relative;
    top: 5px;
    left: 30px;
    padding-bottom: 10px;
  }
}
// SiteMap [E]

// 알림 [S]

.header-allim-layer {
  min-width: 400px;
  max-width: 400px;
  & .menu-search-title {
    height: 40px;
    font-weight: 600;
    padding: 10px 20px;
    color: #fff;
    background-color: $default-orange;
  }
  & .menu-search-content {
    padding: 10px;
    & .q-field__control {
      height: 40px;
    }
  }
  & .menu-search-result {
    min-height: 360px;
    max-height: 600px;
    width: 380px;
    margin-top: 10px;
  }
  & .q-item__label.allim-txt {
    font-size: 1em !important;
  }
}
.animatedBadge {
  animation: spread 1.2s linear infinite;
}
@-webkit-keyframes spread {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(245, 108, 108, 0.9);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(245, 108, 108, 0);
  }

  to {
    -webkit-box-shadow: 0 0 0 0 rgba(245, 108, 108, 0);
  }
}

@keyframes spread {
  0% {
    box-shadow: 0 0 0 0 rgba(245, 108, 108, 0.9);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(245, 108, 108, 0);
  }

  to {
    box-shadow: 0 0 0 0 rgba(245, 108, 108, 0);
  }
}
// 알림 [E]
